@model WarehouseManagementSystem.Models.Product

@{
    ViewBag.Title = "刪除產品";
}

<h2>刪除產品</h2>

<h3>你確定要刪除這筆資料嗎？</h3>

<div>
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>料號</dt>
        <dd>@Model.ProductCode</dd>

        <dt>名稱</dt>
        <dd>@Model.Name</dd>

        <dt>單位</dt>
        <dd>@Model.Unit</dd>

        <dt>安全庫存</dt>
        <dd>@Model.SafeStockQty</dd>
    </dl>
</div>

@using (Html.BeginForm("Delete", "Products", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <p>
        <input type="submit" value="確定刪除" class="btn btn-danger" />
        @Html.ActionLink("取消", "Index", null, new { @class = "btn btn-default" })
    </p>
}

